.product-summary {
  width: 100%;
  .info-summary {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  border: 1px solid #ccc;
  // border-bottom: 3px solid var(--light-blue);
  padding: 5px;
  background-color: #f5f6fa;
}

.card1 {
  background-color: #025366;
}
.card2 {
  background-color: #E67C24;
}
.card3 {
  background-color: #e45226;
}
.card4 {
  background-color: #eec461;
}
